/* ==========================
   MODO ESCURO
========================== */

body.dark-mode {
    background-color: #1e1e1e;
    color: #ffffff;
}

/* Elementos gerais */
body.dark-mode header,
body.dark-mode .cards-container,
body.dark-mode .podcast-section,
body.dark-mode .depoimentos,
body.dark-mode .cards-container2,
body.dark-mode footer {
    background-color: #1e1e1e;
}

/* Links do nav */
body.dark-mode nav ul li a {
    color: #f2bed4;
}

/* Botão de contato */
body.dark-mode .btn-contato {
    background: #f2bed4;
    color: #761862;
}

body.dark-mode .btn-contato:hover {
    background-color: #ae2e81;
    color: #f2bed4;
}

/* Banner */
body.dark-mode .banner {
    background: url('https://i.imgur.com/3Z5k7bH.jpg') no-repeat center center;
    background-size: cover;
}

body.dark-mode nav ul li a {
    color: #ffffff;
}



body.dark-mode .btn-contato {
    background: #4b4848;
    color: #ffffff;
}

body.dark-mode .podcast-text p {
    color: #ffffff;
}

body.dark-mode .podcast-text h2 {
    color: #ffffff;
}

body.dark-mode .cards-container2 h2 {
    color: #ffffff;
}


body.dark-mode .cards-container2 h2 {
    color: #ffffff;
}

body.dark-mode .card p {
    color: #ffffff;
}

body.dark-mode .chamada-socio h2,
body.dark-mode .chamada-socio p {
    color: #ffffff;

}

.dark-mode .chamada-socio {
    background-color: #1e1e1e;
}

.dark-mode .btn-voltar {
    background: #4b4848;
    color: #ffffff;
}

body.dark-mode::-webkit-scrollbar {
    width: 12px;
    background-color: #1a1a1a;
}

body.dark-mode::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #444);
    border-radius: 50px;
    border: 0 solid #000;
}

body.dark-mode::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #888);
}

body.dark-mode .thumb {
    background: linear-gradient(transparent, #444);
    border: 0 solid #000;
}

body.dark-mode #img-grande {
    border: 2px solid #ffffff;
}

body.dark-mode .seta {
    color: #ffffff;
}

body.dark-mode .coração {
    color: #ffffff;
}

body.dark-mode .coração.curtiu {
    color: #4b4848;
}


body.dark-mode .btn-contato:hover {
    background: #4b4848;
    color: #ffffff;
}

body.dark-mode .contador {
    color: #ffffff;
}

.dark-mode #toggle-dark-mode i {
    color: #ffffff;
}


body.dark-mode .content h1,
body.dark-mode .content p {
    color: #f2bed4;
}



body.dark-mode .content span {
    color: #f2bed4;
    font-size: 36px;
    margin-bottom: 20px;
    font-family: "Marcellus", serif;
}


body.dark-mode .content h1,
body.dark-mode .content p,
body.dark-mode .content span {
    color: #ffffff;
}

body.dark-mode .setavolta,
body.dark-mode .setaavanca {
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

/* Botão associado */
body.dark-mode .btn-associado {
    background: #4b4848;
    color: #ffffff;
}

body.dark-mode .btn-associado:hover {
    background: #4b4848;
    color: #ffffff;
}

body.dark-mode .btn-listen {
    background: #4b4848;
    color: #ffffff;
}


/* Cards container */
body.dark-mode .cards-container .card,
body.dark-mode .card2 {
    background: rgba(255, 255, 255, 0.2);
}

body.dark-mode .cards-container .card h3,
body.dark-mode .card2 h4,
body.dark-mode .card2 p {
    color: #ffffff;
}

/* Links dos cards */
body.dark-mode .cards-container .card a {
    background: #fffbfd;
    color: #e0e0e0;
}

body.dark-mode .cards-container h2 {
    color: #ffffff;
}

body.dark-mode .cards-container .card a:hover {
    background: #761862;
    color: #ffffff;
}

/* Podcast */
body.dark-mode .podcast-text {
    color: #ffffff;
}

body.dark-mode .podcast-video iframe {
    border: 2px solid #ffffff;
}

/* Footer */
body.dark-mode footer {
    background: #1e1e1e;
    color: #ffffff;
}

body.dark-mode .footer-section ul li a,
body.dark-mode .social-icons a,
body.dark-mode .CNPJ {
    color: #ffffff;
}

body.dark-mode .social-icons a:hover {
    color: #e2e2e2;
}

body.dark-mode .contact-item i {
    color: #ffffff;
}

 .dark-mode .menu-toggle {
        color: #ffffff;
    }

.dark-mode  .banner-contato h1{
    color: #ffffff;
    font-size: 35px;
}

.dark-mode  .banner-contato p {
    color: #ffffff;
}


.dark-mode  .banner-contato {
    padding: 3%;
}

.dark-mode .btn-associar {
    background: #4b4848;
    color: #ffffff;
}

/* Divisor decorativo */
body.dark-mode .dgdivisor {
    border-top: 2px solid;
    border-image: linear-gradient(to right, transparent, #ffffff, transparent) 60;
}

.dark-mode .estatuto-section {
    background: #1e1e1e;
    color: #ffffff;
}

.dark-mode #estatuto h2 {
    color: #ffffff;
}

.dark-mode .estatuto-section #estatuto p {
    color: #ffffff;
}

.dark-mode #estatuto  {
    background: #1e1e1e;
}

.dark-mode .botao-baixar {
    background: #4b4848;
    color: #ffffff;
}

.dark-mode #estatuto p {
    color: #000000;
}


.dark-mode .sobre2 .container {
    background: #1e1e1e;
    color: #ffffff;
}

.dark-mode .sobre2 {
    background: #1e1e1e;
    color: #ffffff;
}

.dark-mode .sobre2 p {
    color: #ffffff;
}

.dark-mode .sobre2 h1 {
    color: #ffffff;
}

.dark-mode .galeria {
    background: #1e1e1e;
    color: #ffffff;
}

.dark-mode .galeria-section {
    background: #1e1e1e;
    color: #ffffff;
}

.dark-mode .galeria-section h2 {
    color: #ffffff;
}

.dark-mode .content-sobre span {
    color: #ffffff;
}



.dark-mode .galeria-section .card2 {
    background: rgba(255, 255, 255, 0.2);
}

.dark-mode .galeria-section h4,
.dark-mode .galeria-section p {
    color: #ffffff;
}

dark-mode .coração i {
    color: #ffffff;
}

dark-mode .coração .curtir {
    color: #6e6b6b;
}

.dark-mode section .banner-contato {
    background-color: #1a1a1a;

}

.dark-mode section {
    background-color: #1a1a1a;
}


#toggle-dark-mode {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

#toggle-dark-mode i {
    color: #761862;
    font-size: 24px;
}


/* ==========================
   RESPONSIVIDADE
========================== */

@media (max-width: 768px) {
    header .container {
        flex-direction: column;
        align-items: center;
    }



    nav ul {
        flex-direction: column;
        margin-right: 0;
    }

    nav ul li {
        margin-left: 0;
        margin-top: 10px;
    }



    .banner {
        height: 400px;
    }

    .content h1 {
        font-size: 24px;
    }

    .content p {
        font-size: 16px;
    }

    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .podcast-content {
        flex-direction: column;
        align-items: center;
    }

    .podcast-video iframe {
        height: 300px;
    }

    .sobre2 .container {
        align-items: center;
        flex-direction: column;
        margin-left: 0;
    }


    section .card2 {
        width: 90%;
        max-width: 400px;
        margin-bottom: 20px;
    }


    .sobre2 .container-sobre,
    .sobre2 .image {
        flex: 1 1 100%;
        margin: 0 auto;
        padding: 0;
    }

    .sobre2 .image img {
        max-width: 100%;
    }


    #galeria7 {
        height: 150px;
    }

    .galeria-section {
        padding: 20px;
    }

    .galeria {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 10px;
    }

    .menu-toggle {
        display: flex;
    }

    .menu-toggle i {
        margin-top: 25px;
        margin-right: 80px;
        font-size: 18px;
    }


    .menu {
        display: none;
        position: fixed;
        left: 500px;
        top: 70px;
        width: 250px;
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
        padding: 15px;
        z-index: 9999;
        overflow-y: auto;
        height: 300px;
    }

    .menu .btn-contato {
        margin: 0 auto;
    }

    .menu.active {
        display: block;
    }

    .menu ul {
        list-style: none;
        padding: 0;
    }

    .menu ul li {
        margin: 16px 0;
    }

    .menu ul li a {
        color: white;
        text-decoration: none;
    }

    .no-scroll {
        overflow: hidden;
    }

}


@media (max-width: 480px) {
    header .container {
        flex-direction: column;
        align-items: center;
        height: 30px;
    }

    nav ul {
        flex-direction: column;
        margin-right: 0;
    }

    nav ul li {
        margin-left: 0;
        margin-top: 10px;
    }

    .menu-toggle {
        display: flex;
    }

    .menu-toggle i {
        margin-top: 2px;
        margin-right: 60px;
        font-size: 15px;
    }

    .banner {
        height: 300px;
    }

    .banner img {
        width: 100%;
        height: auto;
    }

    header .logo {
        width: 80px;
        height: auto;
    }


    .content span {
        font-size: 24px;
        margin-bottom: 10px;
        display: block;
    }

    .content h1 {
        font-size: 20px;
    }

    .content p {
        font-size: 12px;
    }

    .cards-container {
        flex-direction: column;
        align-items: center;
    }

       .cards-container h2 {
        font-size: 24px;
        margin-bottom: 10px;    
    }

    .cards-container .card p{
        font-size: 14px;
    }

     .cards-container .card h3 {
        font-size: 16px;
        margin-bottom: 10px;
     }

     .cards-container .card img{
        width: 20%;
        height: auto;
     }

    .podcast-video iframe {
        height: 250px;
    }

    .podcast-section h2 {
        font-size: 24px;
    }

    .podcast-section p {
        font-size: 14px;
    }



    #toggle-dark-mode {
        position: absolute;
        top: 90%;
        right: 16%;
    }

    .banner-contato {
    padding: 3%;
}

    .banner-contato h1 {
        font-size: 35px;
    }

    
    .menu {
        display: none;
        position: fixed;
        left: 35%;
        top: 70px;
        width: 250px;
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
        padding: 15px;
        z-index: 9999;
        overflow-y: auto;
        height: 310px;
    }

    .menu .btn-contato {
        margin: 0 auto;
    }

    .menu.active {
        display: block;
    }

    .menu ul {
        list-style: none;
        padding: 0;
    }

    .menu ul li {
        margin: 16px 0;
        text-align: center;
    }

    .menu ul li a {
        color: white;
        font-size: 15px;
        text-decoration: none;
    }

    .no-scroll {
        overflow: hidden;
    }

.banner-sobre {
    height: 300px;
}

.content-sobre h1{
    font-size: 24px;
}

.content-sobre h1 span {
    font-size: 24px;
}

.content-sobre p {
    font-size: 16px;
}

 .btn-associado {
   font-size: 13px;
    padding: 8px 16px;
    width: 150px;
    height: 35px;
    margin: 0 auto;
 }

 #estatuto h2 {
    font-size: 24px;
 }


 .estatuto-section {
    padding: 20px;
    background: #f2bed4;
}

#estatuto p {
    font-size: 14px;
    margin-bottom: 20px;
}

#estatuto h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

 .botao-baixar {
    font-size: 14px;
    padding: 8px 16px;
    width: 150px;
    height: 50px;
    margin: 0 auto;
}

.sobre2 {
    padding: 20px;
}

.sobre2 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre2 .container-sobre {
    text-align: center;
    margin-bottom: 20px;
}

.sobre2 .container-sobre h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.sobre2 .container-sobre p {
    font-size: 14px;
    margin-bottom: 20px;
}

.sobre2 .image {
    width: 100%;
    max-width: 600px;
}

.sobre2 .image img {
    width: 100%;
    height: auto;
}

.galeria-section{
    padding: 20px;
    background: #f2bed4;
}

.galeria-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.galeria-section .card2 {
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 8px;
}

.galeria-section h4,
.galeria-section p {
    color: #761862;
    font-size: 14px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.cards-container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.footer-section {
    text-align: center;
    margin: 0 auto;
}


.footer-section-logo img {
    max-width: 130px;
}

.footer-section-logo p {
    margin-left: 20px;
}

.footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-family: "Marcellus", serif;
}

.footer-section h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-right: 200px;
}

.footer-section  i {
    color: #761862;
    font-size: 20px;
}


.footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-family: "Marcellus", serif;
    
}

}






@media (max-width: 1024px) {
    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .podcast-content {
        flex-direction: column;
        align-items: center;
    }

    .podcast-video iframe {
        height: 350px;
    }

    .cards-container2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    .cards-container2 .card2 {
        width: 100%;
        max-width: 300px;
        margin: 10px;
    }

    .cards-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    .cards-container .card {
        width: 100%;
        max-width: 300px;
        margin: 10px;
    }

    #toggle-dark-mode {
        position: absolute;
        top: 40%;
        right: 3%;
    }
}